body {

}

h1 { text-align:center; }

main {
    margin:0 auto;
    width:30%;
    height:30%;
    padding:1em;
    border:1px solid rebeccapurple;
    border-radius:4px;
}

#input {
    width:100%;
    border:1px solid black;
    margin-bottom:1em;
}
#input span {
    font-size:2em;
    display:block;
    padding:2.5%;
    text-align:right;
}

#buttons {
    display:grid;
    grid-template-columns:80% 20%;
}

.left {
    display:grid;
    grid-template-columns:30% 30% 30%;
}

.clear { width:100%; }

.primary {
    margin:3%;
    font-size:2em;
}

.operator {
    width:100%;
}